@import '../../shared/config/bulma.scss';
@import '@shared/ui/ButtonGrid';

html,
body,
#app {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: background 1s;
}