@use 'bulma/sass/base';
@use 'bulma/sass/themes';
@use 'bulma/sass/elements/button';
@use 'bulma/sass/elements/icon';
@use 'bulma/sass/elements/delete';
@use 'bulma/sass/elements/notification';
@use 'bulma/sass/elements/title';
@use 'bulma/sass/elements/content';
@use 'bulma/sass/form';
@use 'bulma/sass/components/menu';
@use 'bulma/sass/components/dropdown';
@use 'bulma/sass/components/card';
@use 'bulma/sass/components/message';
@use 'bulma/sass/helpers/spacing';
@use 'bulma/sass/helpers/gap';
@use 'bulma/sass/helpers/flexbox';
@use 'bulma/sass/helpers/position';


:root {
  --bulma-block-spacing: 0;
}