@use "bulma/sass/utilities";
@use "bulma/sass/themes";
@use "bulma/sass/base";
@use "bulma/sass/elements";
@use "bulma/sass/form";
@use "bulma/sass/components";
@use "bulma/sass/grid";
@use "bulma/sass/layout";
@use "bulma/sass/base/skeleton";
@use "bulma/sass/helpers";

:root {
  --bulma-body-overflow-y: auto;

  --bulma-primary-h: 213deg;
  --bulma-primary-s: 76%;
  --bulma-primary-l: 55%;
  --bulma-link-h: 213deg;
  --bulma-link-s: 75%;
  --bulma-link-l: 40%;
  --bulma-info-h: 213deg;
  --bulma-info-s: 76%;
  --bulma-info-l: 77%;
  --bulma-success-h: 147deg;
  --bulma-success-s: 63%;
  --bulma-success-l: 51%;
  --bulma-warning-h: 50deg;
  --bulma-warning-s: 92%;
  --bulma-warning-l: 57%;
  --bulma-danger-h: 357deg;
  --bulma-danger-s: 78%;
  --bulma-danger-l: 49%;
  --bulma-scheme-h: 210;
  --bulma-scheme-s: 50%;
  --bulma-light-l: 22%;
  --bulma-dark-l: 17%;

}

.block-spacing {
  gap: var(--bulma-block-spacing);
}

.select {
  select {
    width: 100%;
  }
}

.radio,
.checkbox {

  input {

    &[type=checkbox],
    &[type=radio] {
      height: 1lh;
      width: 1lh;
      vertical-align: middle;
    }
  }

}

.is-fullwidth {
  width: 100%;
  grid-column: 1 / -1;
}

.is-borderless {
  border: 0;
}