@use "bulma/sass/utilities";
@use "bulma/sass/themes";
@use "bulma/sass/base";
@use "bulma/sass/elements";
@use "bulma/sass/form";
@use "bulma/sass/components";
@use "bulma/sass/grid";
@use "bulma/sass/layout";
@use "bulma/sass/base/skeleton";
@use "bulma/sass/helpers";


.block-spacing {
  gap: var(--bulma-block-spacing);
}

:root {
  --bulma-body-overflow-y: auto;
}

.select {
  select {
    width: 100%;
  }
}

.radio,
.checkbox {

  input {

    &[type=checkbox],
    &[type=radio] {
      height: 1lh;
      width: 1lh;
      vertical-align: middle;
    }
  }

}