@use 'bulma/sass/base';
@use 'bulma/sass/themes';
@use 'bulma/sass/elements';
@use 'bulma/sass/form';
@use 'bulma/sass/components';
@use 'bulma/sass/helpers';
@use 'bulma/sass/utilities';


.block-spacing {
  gap: var(--bulma-block-spacing);
}

:root {
  --bulma-body-overflow-y: auto;
}

.select {
  select {
    width: 100%;
  }
}

.radio,
.checkbox {

  input {

    &[type=checkbox],
    &[type=radio] {
      height: 1lh;
      width: 1lh;
      vertical-align: middle;
    }
  }

}